/* Styles de base */
    body 
        {
            color: #333;
            background-color: #eef;
        }

    p
        {
            text-align: justify;
        }
   

/* Titres */
    h1, h5
        {
            margin-bottom: 40px;
        }

/* Images */
    img 
        {
            width: 100%;
        }

    #qui img
        {
            border-radius: 9px;
            padding: 0px;
        }

    @media all and (max-width: 768px)
        {
            #qui img
                {
                    display: none;
                }


        }

/* Jumbotron */
    .jumbotron
        {
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.5);
            border: solid 1px black;
        }

    .jumbotron img 
        {
            padding-bottom: 20px;        
        }

/* Footer */
    footer.row 
        {
            margin: 20px 0 40px 0;
        }
