/* Styles de base */
    body 
        {
            color: #333;
            background-image: url(images/matrix5-2.png);
            background-repeat: no-repeat;
            background-color: black;
        }

    p
        {
            text-align: justify;
        }
   

/* Titres */
    h1, h5
        {
            margin-bottom: 40px;
        }

/* Images */
    img 
        {
            width: 100%;
        }

    #qui img
        {
            border-radius: 9px;
            padding: 0px;
            margin-left: 20px;
        }

    @media all and (max-width: 768px)
        {
            #qui img
                {
                    display: none;
                }


        }
    

/* Jumbotron */
    .jumbotron
        {
            margin-bottom: 0px;
            background: rgba(255, 255, 255, 0.6);
            border: solid 1px black;
        }


/* Corps */

    section
{
    padding-top: 51px;
}

/* Footer */
    footer.row 
        {
            margin: 20px 0 40px 0;
        }
