/* Styles de base */
    body 
        {
            color: #333;
            background-color: #d8d8d8;
        }

    p
        {
            text-align: justify;
        }

    
   

/* Titres */
    #titre
        {
            margin-top: 50px;
            margin-bottom: -70px;
            text-align: center;
            font-family: 'Brush Script MT';
        }


    #titre h1
        {
            font-size: 150px;
        }

        @media all and (max-width: 768px) {
                #titre h1 
                {
                    display: none;
                }
                #accueil {
                    margin-top: -50px;
                }
            }
    
    #titre h1 i
        {
            color: #fffdad;
        }

    .container h1, h5
        {
            margin-bottom: 40px;
            font-family: 'Times New Roman';
        }


/* carousel */

    #monCarousel
    {
        margin-top: 70px;
    }

/* Images */
    img 
        {
            width: 100%;
        }

    #qui img
        {
            border-radius: 9px;
            padding: 0px;
            margin-left: 20px;
        }

        @media all and (max-width: 768px) {
                #qui img
                    {
                        display: none;
                    }
            }
    

/* Jumbotron */
    .jumbotron
        {
            margin-bottom: 0px;
            background: rgba(255, 255, 255, 0.6);
            border: solid 1px black;
        }


/* Corps */

    section
        {
            margin-bottom: -51px;
            padding-top: 102px;
        }

    .container p
        {
            font-family: 'Times New Roman';
        }

/* Footer */
    footer.row 
        {
            margin: 78px 0 40px 0;
        }
